---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
.site-title {
  font-size: .7em;
}
.layout--splash .masthead {
  display: none;
}
.banner-image {
  display: block;
  width: 100%;
  height: auto;
}
.content-narrow {
  max-width: 700px;
  margin: 0 auto;
}