---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
.site-title {
  font-size: 1.2em;
}
.layout--splash .masthead {
  display: none;
}
.banner-image {
  display: block;
  height: auto;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}
.splash {
  max-width: 700px;
  margin: 0 auto;
}